@charset "utf-8";
button.img_btn {background: none repeat scroll 0 0 transparent; border: 0 none; cursor: pointer; display: inline-block;
    height: auto; padding: 0; vertical-align: top; width: auto;}
button {cursor: pointer;}
button.img_btn img {display: inline-block; margin: -1px -3px; vertical-align: top;}
img, fieldset {border: 0 none;}
table {-moz-user-select: none; cursor: pointer; margin: 0 auto;}

.select_free_layer {overflow: hidden; position: absolute; z-index: 100;}
.basic_calender {background-color: #FFFFFF; border: 1px solid #c7c7c7; line-height: normal; width: 195px;}
.no_view {display: none;}
.basic_calender .move_month {
    background-color: #f1f1f1;
    height: 23px;
    margin-bottom: 7px;
    padding-top: 7px;
    position: relative;
    text-align: center;
    width: 100%;
}
.basic_calender .move_month button {
    background: url("../images/cal_btn.gif") no-repeat scroll 0 0 transparent;
    text-indent: -999px;
    top: 8px;
}

.basic_calender .move_month strong {color: #333333; font-family: verdana; font-size: 13px;}
.basic_calender .move_month .btn_yprev {left: 23px; position: absolute;}
.basic_calender .move_month .btn_prev {background-position: 0 -13px; left: 37px; position: absolute;}
.basic_calender .move_month .btn_next {background-position: 0 -39px; left: auto; position: absolute; right: 33px;}
.basic_calender .move_month .btn_ynext {background-position: 0 -26px; left: auto; position: absolute; right: 19px;}


.basic_calender thead {display: none;}
.basic_calender td {border: medium none; color: #000000; font-family: verdana; font-size: 11px; height: 19px; 
	letter-spacing: -1px;
    text-align: center;
}
.basic_calender .range_out {color: #D1D1D1;}
.basic_calender .range_out_holiday {color: #ECA9A9;}
.basic_calender .today {background-color: #6392D8;}
.basic_calender .select_area, .basic_calender .selected_area {background-color: #e9edf6; color: #000000;}
.basic_calender .today strong {color: #FFFFFF; font-family: tahoma; font-size: 10px;}
.basic_calender .select_area strong, .basic_calender .selected_area strong {color: #6D6D6D; font-weight: bold;}
.basic_calender .holiday {color: #FF000A;}

.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
