

.chat_section {border:1px solid #232323; background-color:#454645; width:273px; position:fixed; right:0; bottom:0; z-index:101;}
.chat_section .top_group {background: url("../images/bg_chat.jpg") repeat-x 0 0 transparent; font-weight:bold; color:#FFF; padding:5px 5px 0; height:21px;}
.chat_section .top_area { position:absolute;}

.chat_section .btn_min a {background: url("../images/chat_img.png") no-repeat scroll 0 0 transparent; display:block; height:18px; width:14px;}
.chat_section .btn_min a:hover {background: url("../images/chat_img.png") no-repeat scroll 0 -25px transparent;}

.chat_section .btn_admin a {background: url("../images/chat_img.png") no-repeat scroll -18px 0 transparent; display:block; height:18px; width:14px;}
.chat_section .btn_admin a:hover {background: url("../images/chat_img.png") no-repeat scroll -18px -25px transparent;}

.chat_section .btn_x a {background: url("../images/chat_img.png") no-repeat scroll -36px 0 transparent; display:block; height:18px; width:14px;}
.chat_section .btn_x a:hover {background: url("../images/chat_img.png") no-repeat scroll -36px -25px transparent;}

.chat_section .chat_body {background-color:#FFF; margin: 0 2px; height:300px; overflow-y:auto;}
.chat_input_area { border-top:1px solid #9C9C9C; padding: 0 3px;}
.chat_textarea {vertical-align: top; width:100%; border:none; max-height:35px; min-height:16px; outline: medium none; overflow-y:auto;}

.chat_list li {border-bottom:1px dashed #9C9C9C; margin:5px 10px 0; color:#454545; vertical-align: middle; padding: 2px 0; overflow:hidden;}	
.chat_list li.end {border-bottom:none;}

/* 시스템 메세지 */
.msg_section {background-color:#f5f3ec; color:#454545; font-size:11px; padding:5px; margin-bottom:2px;}
.msg_section .ic_add_friend {background: url("../images/chat_img.png") no-repeat scroll 0 -49px transparent; display:inline-block; padding-right:4px; height:16px; width:14px;}

.addfriend_section {padding:5px 0 0; background-color:#FFF; overflow:hidden; margin-left: 5px; position: absolute;} 
.addfriend_h { padding-bottom:4px;}
.user_sel_area {float:left; padding:2px; width:100%;}
.addf_line {border:1px solid #c7c7c7; left:0px; margin-right:2px; width: 204px; background: none repeat scroll 0 0 #FFFFFF; vertical-align:middle; text-align:left; float:left;}

.info_list {padding:0 0 2px 18px; line-height:16px; }

.chat_input_section {margin: 0 2px 2px 2px; background-color:#FFF;}
.chatter_list_area {padding: 5px; border:1px solid #c7c7c7; background-color: #FFF; margin: 0 5px 5px;
    position: absolute; width: 190px; z-index: 200;}
.chatter_list_area li {padding: 2px 0; vertical-align: top; color: #454545; font-size:11px;}