@charset "utf-8";
/* CSS Document */

.form_layout {padding:0 10px;}
.form_col { padding:3px 10px;}
.form_row {}
.form_label {float:left;}
.form_value {display:inline-block;}

.form_text_input {max-width:}
.form_date_input
.form_time_input
.form_datetime_input

.form_cumm_input
.form_cumms_input

.form_work_input, .form_work_input

.form_number_input {text-align:right}

.form_radio_btn
.form_check_box

.form_select_box {min-width:}

.form_text_area {}

.ico_user {background: url("../images/btn_s_person.png") no-repeat 0 0; height:20px; width:21px; float: right;}
.ico_user_space {float: left; width:90%;}



.inputline {border:1px solid #c7c7c7; left:0px; margin-right:2px; width:170px; background: none repeat scroll 0 0 #FFFFFF; vertical-align:middle; text-align:left;} /* 상세필터 input line*/
.date_input {width:68px; padding:0 2px; float:left;} /* date input 사이즈/
.time_input {width:40px; padding:0 2px; float:left;} /* time input 사이즈/