@charset "utf-8";

#wrap {background: url("../images/top_bg.jpg") repeat-x scroll 0 0 transparent; height:100%; min-width:1000px; margin:0; z-index:1; position:relative;}
html, body {color:#454545; font-family:'돋움',Dotum, Arial, sans-serif, tahoma, verdana,; height:100%; line-height:1.5em;}
body, #nav {background: url("../images/bg_body.jpg");}
#nav a:link, #nav a:visited, #header a:link, #header a:visited {color:#FFF;}
#nav a:hover, #nav a:focus, #nav a:active, #header a:hover, #header a:focus, #header a:active {color:#FFF; text-decoration:none;}
#nav .current {color:#FFF; text-decoration:underline; font-weight:bold;}



/*Header*/
#header {background: url("../images/header_bg.jpg") repeat scroll left top transparent; height:34px; width:100%; z-index:40; position:relative; }

/*Company Logo*/
.company_logo {
	background: url("../images/top_logo.jpg") no-repeat left top;
	display:block; position:absolute; left:12px; top:3px; width:81px; height:22px; z-index:40;
	}

/*Notice Icon*/
.notice_ico {display:block; position:absolute; height:31px; left:106px; top:3px; z-index:40;}
.notice_ico a:link, a:visited, a:hover, a:focus, a:active {text-decoration: none;}
.notice_ico li {float:left; margin-right:4px; width:34px; height:31px;}
.i_info a {background: url("../images/header_nico.png") no-repeat scroll -5px -14px transparent; display:block; height:30px; position:relative;}
.i_info a:hover  {background: url("../images/header_nico.png") no-repeat scroll -5px -55px transparent; display:block; height:30px; position:relative;}
.i_info .current, .i_info a.current:hover {background: url("../images/header_nico.png") no-repeat scroll -5px -94px transparent; display:block; height:31px; position:relative;}

.i_note a {background: url("../images/header_nico.png") no-repeat scroll -42px -14px transparent; display:block; height:30px; position:relative;}
.i_note a:hover {background: url("../images/header_nico.png") no-repeat scroll -42px -55px transparent; display:block; height:30px; position:relative;}
.i_note .current, .i_note a.current:hover{background: url("../images/header_nico.png") no-repeat scroll -42px -94px transparent; display:block; height:31px; position:relative;}

.i_replay a {background: url("../images/header_nico.png") no-repeat scroll -79px -14px transparent; display:block; height:30px; position:relative;}
.i_replay a:hover {background: url("../images/header_nico.png") no-repeat scroll -79px -55px transparent; display:block; height:30px; position:relative;}
.i_replay .current, .i_replay a.current:hover {background: url("../images/header_nico.png") no-repeat scroll -79px -94px transparent; display:block; height:31px; position:relative;}

.i_assworks a {background: url("../images/header_nico.png") no-repeat scroll -116px -14px transparent; display:block; height:30px; position:relative;}
.i_assworks a:hover {background: url("../images/header_nico.png") no-repeat scroll -116px -55px transparent; display:block; height:30px; position:relative;}
.i_assworks .current, .i_assworks a.current:hover {background: url("../images/header_nico.png") no-repeat scroll -116px -94px transparent; display:block; height:31px; position:relative;}

.i_mail a {background: url("../images/header_nico.png") no-repeat scroll -153px -14px transparent; display:block; height:30px; position:relative;}
.i_mail a:hover {background: url("../images/header_nico.png") no-repeat scroll -153px -55px transparent; display:block; height:30px; position:relative;}
.i_mail .current, .i_mail a.current:hover {background: url("../images/header_nico.png") no-repeat scroll -153px -94px transparent; display:block; height:31px; position:relative;}

.i_imsave a {background: url("../images/header_nico.png") no-repeat scroll -190px -14px transparent; display:block; height:30px; position:relative;}
.i_imsave a:hover {background: url("../images/header_nico.png") no-repeat scroll -190px -55px transparent; display:block; height:30px; position:relative;}
.i_imsave .current, .i_imsave a.current:hover {background: url("../images/header_nico.png") no-repeat scroll -190px -94px transparent; display:block; height:31px; position:relative;}


.num_ic { background: url("../images/header_nico.png") no-repeat scroll -321px -102px transparent; 
		display:inline-block; font-family: Tahoma, dotum; font-size:9px; color:#FFF; height:12px; letter-spacing:0; line-height:13px; padding-right:5px; position:absolute;
		left:14px; top:13px; text-indent: 4px;}
.num_ic span { background: url("../images/header_nico.png") no-repeat scroll -357px -102px transparent !important;
				display:inline-block; font-size:0; height:12px; line-height:0; overflow:hidden; position:absolute; right:0;  top:0; width:5px;}
				

.pop_i_info {border:1px solid #acacac; background-color:#242324; width:273px; position:absolute; top:33px; left:106px; padding-bottom:8px; z-index:39;}
.pop_i_info li {border-bottom:1px solid #DCDFE0; margin:8px 15px;}
.info_list {padding:0 0 2px 18px; line-height:16px; }




/*Top Menu*/
.top_menu {z-index:40; position:absolute; width:238px; height:34px; top:0px; left:388px; background:url(../images/top_menu.png) no-repeat left top;}
.top_menu ul {height:34px;}
.top_menu ul li {float:left; height:34px; background:url(../images/top_menu.png) no-repeat; text-align:center; vertical-align:middle; font-weight:bold;}
.top_menu ul li a:hover,
.top_menu ul li .current {background:url(../images/top_menu.png) no-repeat; height:34px;}

.top_menu ul li.idx1 {width:70px; height:34px; background-position:left top;}
.top_menu ul li.idx1 a:hover,
.top_menu ul li.idx1 .current {width:70px; height:34px; background-position:left -60px;}

.top_menu ul li.idx2 {width:100px; background-position:-70px top;}
.top_menu ul li.idx2 a:hover,
.top_menu ul li.idx2 .current {width:100px; background-position:-70px -60px;}

.top_menu ul li.idx3 {width:68px; background-position:-170px top;}
.top_menu ul li.idx3 a:hover,
.top_menu ul li.idx3 .current {width:68px; background-position:-170px -60px;}

.top_menu ul li span a {display:block; padding-top:8px;}


/*Search*/
.global_srch {position:absolute; left:635px; top:5px;}
.nav_srch {float:left; padding-bottom:10px;}
.srch {
	border:none;
	height:19px;
	}
	
.srch .nav_input {width:170px;height:19px;background-color: #222; color: #999;border:1px solid #555;padding:2px 15px 0 7px;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}

.nav_srch .srch input::-webkit-input-placeholder {color:#999;}
.nav_srch .srch input:-moz-placeholder {color:#999;}
.global_srch .srch input::-webkit-input-placeholder {color:#999;}
.global_srch .srch input:-moz-placeholder {color:#999;}

.srch button, .srch .srch_ico{background:url("../images/btn_srch.png") no-repeat;cursor:pointer;height:23px;
	width:25px;padding:0; position:relative;top:-23px;left:169px;border:0}
.srch button:hover, .srch .srch_ico:hover{background:url("../images/btn_srch.png") -25px 0 no-repeat;}
.srch_wsize {width:195px;height:23px;margin: 0 10px;overflow:hidden}

/*Search-white */
.srch_wh {background: none repeat scroll 0 0 #FFF; border-color: #c7c7c7; border-style: solid; border-width: 1px; height:16px;}
.srch_wh .nav_input {width:155px; background-color: #FFF; color: #999897; padding: 2px 0 0 1px;}
.srch_wh button, .srch_wh .srch_ico {background-color:#FFFFFF; background:url("../images/btn_srch_w.gif") no-repeat 0 0 transparent; border:0 none; cursor:pointer;  height:13px;
	width:13px; right:2px; padding:0; position:relative; float: right; top:1px;}


	
/*Left Navigation*/	
#nav {background-color:#6b6b6b;float:left;width:226px;height:100%; z-index:30;}
li.js_content .checkOption{display:none;position:absolute;margin-top:-21px;margin-left:195px}
li.js_content:hover .checkOption{display:block}

/*global Menu */
.global_menu {position:absolute; right:10px; top:11px;  font-family:'돋움',Dotum; font-size: 11px; color:#c5c5c5;}
.global_menu div { float:left; margin-left:8px;}
.global_menu .pop {border:1px solid #acacac; border-top:none; background-color:#414041; position:absolute; top:23px; right:0; padding:8px; z-index:39;}

/*Personal Info*/
.personal_info {background: url("../images/personal_info_bg.jpg")repeat-x scroll 0 0; padding:11px 22px; height:79px; width:182px;}
.personal_info ul {position:absolute;}
.personal_info li {float:left; vertical-align:bottom; margin-right:6px; color:#dddddd; line-height: 1.3em; } 
.personal_info .pic {background: url("../images/pic_personal_info.jpg"); display:inline; width:66px; height:66px; position:relative;}

/* nav_list*/
.nav_list {width:226px;}
.nav_current {color:#fcab4c; text-decoration:underline;}
.ico_pworks {background: url("../images/ico_pwoks.gif") no-repeat left top transparent; padding:0 0 0 20px; line-height:18px; float: left; height:17px;}
.ico_cworks {background: url("../images/ico_category.gif") no-repeat left top transparent; padding:0 0 0 20px; line-hieght:18px; float: left; height:17px;}
.ico_sworks {background: url("../images/ico_swoks.gif") no-repeat left top transparent; padding:0 0 0 20px; line-hieght:18px; float: left; height:17px;}
.ico_gworks {background: url("../images/ico_category.gif") no-repeat left top transparent; padding:0 0 0 20px; line-hieght:18px; float: left; height:17px;}
.ico_iworks {background: url("../images/ico_iwoks.gif") no-repeat left top transparent; padding:0 0 0 20px; line-height:18px; float: left; height:17px;}
.ico_stworks {background: url("../images/ico_stwoks.gif") no-repeat left top transparent; padding:0 0 0 20px; line-height:18px; height:17px;}

.ico_depart {background: url("../images/ico_depart.gif") no-repeat left top transparent; height:20px; padding:0 0 0 25px; display: inline-block; float:left;}
.ico_group {background: url("../images/ico_group.gif") no-repeat left top transparent; height:20px; padding:0 0 0 25px; display: inline-block; float:left;}
.ico_pe {height:20px; padding:0 5px 0 0; display: inline-block; float:left;}


/* nav_mail btn*/
.ico_mail_inbox {background: url("../images/mail_img.png") no-repeat 0 0 transparent; height:16px; padding:0 0 0 25px; display: inline-block;}
.ico_mail_sent {background: url("../images/mail_img.png") no-repeat 0 -24px transparent; height:16px; padding:0 0 0 25px; display: inline-block;}
.ico_mail_drafts {background: url("../images/mail_img.png") no-repeat 0 -46px transparent; height:20px; padding:0 0 0 25px; display: inline-block;}
.ico_mail_junk {background: url("../images/mail_img.png") no-repeat 0 -69px transparent; height:20px; padding:0 0 0 25px; display: inline-block;}
.ico_mail_trash {background: url("../images/mail_img.png") no-repeat 0 -93px transparent; height:20px; padding:0 0 0 25px; display: inline-block;}

a .btn_unread_mail {background: url("../images/mail_img.png") no-repeat 0 -125px transparent; height:20px; width:20px; display: inline-block; float:right;}
a .btn_unread_mail:hover,
.btn_unread_mail.current {background: url("../images/mail_img.png") no-repeat 0 -150px;}

a .btn_new_mail {background: url("../images/mail_img.png") no-repeat -50px -125px transparent; height:20px;  width:20px; display: inline-block; float:right;}
a .btn_new_mail:hover,
.btn_new_mail.current {background: url("../images/mail_img.png") no-repeat -50px -150px;}

a .btn_folder_add {background: url("../images/mail_img.png") no-repeat -25px -125px transparent; height:20px;  width:20px; display: inline-block; float:right;}
a .btn_folder_add:hover,
.btn_folder_add.current {background: url("../images/mail_img.png") no-repeat -25px -150px;}


/* nav_community btn */ 
.btn_my_depart {background: url("../images/mail_img.png") no-repeat -115px -188px transparent; height:20px; width:43px; display: inline-block; float:right;}
a .btn_my_depart:hover,
.btn_my_depart.current {background: url("../images/mail_img.png") no-repeat -115px -217px;}

.btn_my_group {background: url("../images/mail_img.png") no-repeat -158px -188px transparent; height:20px; width:43px; display: inline-block; float:right;} 
a .btn_my_group:hover,
.btn_my_group.current {background: url("../images/mail_img.png") no-repeat -158px -217px;}

.btn_my_group_add {background: url("../images/mail_img.png") no-repeat -212px -219px transparent; height:13px; width:13px; display: inline-block; float: right;
 margin: 2px 5px 0 0;} 
 a .btn_my_group_add:hover {background: url("../images/mail_img.png") no-repeat -237px -219px ;} 
 


/* nav_works btn */
.btn_recent {background: url("../images/mail_img.png") no-repeat -115px -246px transparent; height:20px; width:43px; display: inline-block; float:right;}
a .btn_recent:hover,
.btn_recent.current {background: url("../images/mail_img.png") no-repeat -115px -274px;}

.btn_favorite {background: url("../images/mail_img.png") no-repeat -158px -246px transparent; height:20px; width:43px; display: inline-block; float:right;}
a .btn_favorite:hover,
.btn_favorite.current {background: url("../images/mail_img.png") no-repeat -158px -274px;}

.btn_all_works {background: url("../images/mail_img.png") no-repeat -201px -246px transparent; height:20px; width:43px; display: inline-block; float:right;}
a .btn_all_works:hover,
.btn_all_works.current {background: url("../images/mail_img.png") no-repeat -201px -274px;}



.navi_tit {background: url("../images/naviti_bg.jpg") repeat-x scroll 0 0; width:206px; height:39px; padding:7px 10px 10px;}
.navi_list {border:2px solid #363636; border-top:none; min-height: 300px;}
.navi_tit_mail {background: url("../images/naviti_mail_bg.jpg") repeat-x scroll 0 0; width:206px; padding:5px 10px 0;}
.navi_tit_chat {background-color:#363636; border-top:1px solid #969696; width:205px; padding:10px}
.navi_list.coummi {min-height: 200px;}

.arr_off {background: url("../images/arr_off.gif") no-repeat left 1px transparent; height:9px; padding:0 0 10px 13px;}
.arr_on {background: url("../images/arr_on.gif") no-repeat left 1px transparent; height:9px; padding:0 0 10px 13px;}

.ico_chatpe {padding:10px 2px 2px 0;}
.nav_subtitl_area {display: inline;}


/* 나의 커뮤니티, 나의 업무, 메일, 커뮤너티멤버 Hover */
#my_works li, 
#my_communities li {position:relative;}
#my_mail li {position:relative;}
#community_members li {position:relative;}

#my_works li a, 
#my_communities li a {padding:4px 0 4px 10px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%;}
#my_mail li a {padding:4px 0 4px 10px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%;}
#community_members li a {padding:4px 0 4px 10px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%;}

#my_works li a:hover, 
#my_communities li a:hover {display:block; background-color:#4e4e4e;}
#my_mail li a:hover {display:block; background-color:#4e4e4e;}
#community_members li a:hover {display:block; background-color:#4e4e4e;}

#my_works .nav_subtitl_area, 
#my_communities .nav_subtitl_area {display: inline; float: left; position: relative; width: 180px;}
#my_mail .nav_subtitl_area {display: inline; float: left; position: relative; width: 180px;}
#community_members .nav_subtitl_area {display: inline; float: left; position: relative; width: 180px;}

#my_works li .menu_2dep li a {padding:2px 0 2px 24px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%;}
#my_works li .menu_2dep li a:hover {display:block; background-color:#4e4e4e;}

#my_works li .menu_2dep li div li a {padding:2px 0 2px 34px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%;}
#my_works li .menu_2dep li div li a:hover{display:block; background-color:#4e4e4e;}


/*category link */
.categ_link {margin:0 2px 8px 0; height:20px; font-family:'돋움',Dotum; font-size: 11px; color:#c5c5c5; padding-top:2px;}
#nav .categ_link a:hover, #nav .categ_link a:focus, #nav .categ_link a:active, #nav .categ_link a:visited {color:#FFF; text-decoration:underline;}


/* Contents*/
#content, #board {margin:15px 10px 10px 240px; color:#454545; font-family: '돋움',dotum,Helvetica,sans-serif; line-height:1.5em; z-index:20}
#board {width:728px; height:20px;}

/* UpLoad */
#upload {width:100%; height:22px; margin: 0 2px; display:inline-block; position:relative;}
#upload div a:hover, #upload div a:focus, #upload div a:active, #upload div a:link, #upload div a:visited {color: #333333; text-decoration:none;}
#upload div {float:left; padding-right:9px;}

.up_wrap {position:relative; margin: 0 3px 10px;}
.detail_up_wrap {margin:0 15px 15px;} /* 상세보기 페이지의 up_wrap */ 


/* UpLoad Search */
.start_worksinput {position:relative; height:21px;}
.start_worksinput .input_size {width:447px; padding: 2px 0 1px; position:absolute;}
.start_worksinput .srch input {width:422px; color:#999897;}
.start_worksinput .srch {background: none repeat scroll 0 0 #FFF; border: 1px solid #c7c7c7; height: 16px;}
.start_worksinput .srch .srch_ico_w {background-color:#FFFFFF; background:url("../images/btn_srch_w.gif") no-repeat 0 0 transparent; border:0 none; cursor:pointer;  height:13px;
	width:13px; right:2px; padding:0; position:relative; float: right; top:1px;}


/* upload Icon */
.up_works a {background: url("../images/header_nico.png") no-repeat -4px -155px; height:22px; padding:4px 0 3px 26px; display:block;}
.up_works a:hover,
.up_works .current, 
.up_works a.current:hover {background: url("../images/header_nico.png") no-repeat -4px -190px; font-weight:bold;}

.up_file a {background: url("../images/header_nico.png") no-repeat -146px -155px; height:22px; padding:4px 0 3px 28px; display:block;}
.up_file a:hover,
.up_file .current, 
.up_file a.current:hover {background: url("../images/header_nico.png") no-repeat -146px -190px; font-weight:bold;}

.up_event a {background: url("../images/header_nico.png") no-repeat -279px -155px; height:22px; padding:4px 0 3px 22px; display:block;}
.up_event a:hover,
.up_event .current, 
.up_event a.current:hover {background: url("../images/header_nico.png") no-repeat -279px -190px; font-weight:bold;}

.up_memo a {background: url("../images/header_nico.png") no-repeat -425px -155px; height:22px; padding:4px 0 3px 23px; display:block;}
.up_memo a:hover,
.up_memo .current, 
.up_memo a.current:hover {background: url("../images/header_nico.png") no-repeat -425px -190px; font-weight:bold;}

.up_board a {background: url("../images/header_nico.png") no-repeat -563px -155px; height:22px; padding:4px 0 3px 28px; display:block;}
.up_board a:hover,
.up_board .current, 
.up_board a.current:hover {background: url("../images/header_nico.png") no-repeat -563px -190px; font-weight:bold;}

.up {border:1px solid #c7c7c7; padding:3px 0; background: none repeat scroll 0 0 #FFFFFF; vertical-align:middle;} /* 높이가 있는 라인박스 쓸때 */
.fieldline {border:1px solid #c7c7c7; left:0px; background: none repeat scroll 0 0 #FFFFFF; vertical-align:middle; text-align:left; width:100%;} /* 한줄 input, text박스 쓸때 */
.up_padding {padding:0; position:relative;}
.up_width {width:450px;}

.up_form {position:absolute;}
.up_point {background: url("../images/up_point.gif") no-repeat left top; width:11px; height:7px;}
.up_textarea {height:30px; width: 100%; vertical-align:top; border: 1px solid #c7c7c7;} /* 라인 포함된 textarea h50 */
.input_1line_first { height:21px; padding-bottom: 5px; position:relative;} /* 한줄라인 input정보- 맨위줄*/
.input_1line {overflow:hidden; width:100%; position:relative; margin:8px 0;} /* 한줄라인 input정보 */

.btn_posi {right:0; top:0; position:absolute;}
.btn_ico {float:right; margin:0 0 2px 8px; height: 18px;}

.txt_btn {font-family:'돋움',Dotum; font-size: 11px; height: 19px; font-weight:normal;}
.txt_btn .po_right {float:right; margin-left:10px;}
.txt_btn .po_left {float:left; margin-right:10px;}
.txt_btn .ch_right {float:right; margin-left:4px;}

.txt_btn .current { font-weight:bold;}
.txt_btn .image_posi {position: relative; bottom:2px;} /* 우측 메뉴중 이미지가 올때 위치 조정 */
.txt_btn a, .txt_btn a:focus, .txt_btn a:active, .txt_btn a:link, .txt_btn a:visited {text-decoration:none;}
.txt_btn a:hover {text-decoration:underline; }
.txt_btn_height {height:16px;}


/* 검색- 자동 완성어 리스트 */
.srch_list {z-index:100; position:absolute; width:447px; top: 22px; -webkit-box-shadow: 0px 2px 10px #505050; background:#FFF; border: 1px solid #c7c7c7; font-family: '돋움',dotum,Helvetica,sans-serif;}
.srch_list li {position:relative; color:#454545;}
.srch_list li a {padding:4px 8px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%; color:#454545;}
/*.srch_list li a:hover {display:block; background-color:#fffccd; color:#454545;}*/
.srch_list li.sw_hover {display:block; background-color:#fffccd; color:#454545;}
.srch_list .nav_subtitl_area {display: inline; float: left; position: relative; width: 410px;}


/* nav검색- 자동 완성어 리스트 */
.nav_srch_list {z-index:100; position:absolute; width:192px; margin:0 0 0 10px;margin-top:-1px;-webkit-box-shadow: 0px 2px 10px #505050; background-color:#222; border: 1px solid #555;}
.nav_srch_list li {position:relative; margin-top: 2px;}
.nav_srch_list li a {padding:4px 8px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%; color:#ededed;}
/*.nav_srch_list li a:hover {display:block; background-color:#484848;}*/
.nav_srch_list li.sw_hover {display:block; background-color:#484848;}
.nav_srch_list .nav_subtitl_area {display: inline; float: left; position: relative; width: 140px; font-size:11px;}
.nav_srch_list .js_location *{float:left}
.nav_srch_list .js_location .nav_subtitl_area{margin:3px 0 0 5px}


/* 검색- community name 리스트 */
.commu_list {z-index:100; position:absolute; width:250px; top: 20px; -webkit-box-shadow: 0px 2px 10px #505050; background:#FFF; border: 1px solid #c7c7c7; font-family: '돋움',dotum,Helvetica,sans-serif;}
.commu_list li {position:relative; color:#454545;}
.commu_list li a {padding:4px 8px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%; color:#454545;}
/*.commu_list li a:hover {display:block; background-color:#fffccd; color:#454545;}*/
.commu_list li.sw_hover {display:block; background-color:#fffccd; color:#454545;}
.commu_list .nav_subtitl_area {display: inline; float: left; position: relative; width: 410px;}

/* 입력폼 */
.form_wrap {background: none repeat scroll 0 0 #FFFFFF; height:100%; }
.form_wrap .input_check {float:left; margin-left:5px;}

.form_title {padding:10px;}
.form_title .title {font-weight:bold; font-size:14px; padding:0 0 0 19px; position:absolute;} /* 타이틀 우측으로 아이콘이 있을때 */
.form_title .title_noico  {font-weight:bold; font-size:14px; font-family:'돋움',Dotum, Arial, sans-serif; padding: 0 0 0 19px;} /* 타이틀 우측으로 아이콘이 없을때 */
.form_contents {padding:0 20px 10px; text-align: center;}
.form_contents table tr {height:30px;}
.form_contents table .before_icon {padding:2px 10px 2px 0;}
.form_contents .title_2dep {text-align:left;} 
.form_contents .item {width:80px;}
.form_contents .tcontents {width:100%;}
.form_contents * {}


.form_add_a {margin:0 20px;}
.form_add_a .item {width:70px;}
.form_add_a .title { padding:0 10px 0 20px;}
.form_add_a .tx_space { padding:0 5px;}

.form_pop {margin-bottom:5px; border:1px solid #c7c7c7; padding:5px 5px 0; background-color:#f8f8f8;} /* 폼 안에서 팝업 - 반복 이벤트 설정 */

.form_space {padding-right:3px;}
.ico_space { padding-right:26px; position:relative;}
.btn_space { padding-right:72px; position:relative;}
.space_data {text-align:center; margin-right:5px; width:65px;}
.nomal {padding: 0 0 0 14px;}

.js_report_title th,.js_form_by_report_type th{width:17%;font-weight:normal}
.js_form_by_report_type span{margin-left:20px}
.js_form_by_report_type span select{margin-left:5px}



.ico_posi {position:absolute; right:0; top:0;}

.glo_btn_space {background-color:#FFF; padding:8px 0; margin:0 10px; height: 22px; border-top: 1px solid #c7c7c7;}
.glo_btn_space .btn_finish {float:right; padding-right:10px;}

.posit_works {left:15px; top:1px; position:relative; z-index:20;}
.posit_file {left:95px; top:1px; position:relative; z-index:20;}
.posit_event {left:165px; top:1px; position:relative; z-index:20;}
.posit_memo {left:225px; top:1px; position:relative; z-index:20;}
.posit_board {left:285px; top:1px; position:relative; z-index:20;}


/* 테이블 */
.table_nomal {position: relative;}
.table_nomal table tr {height:32px}
.essen {border-left:2px solid #ef972b; border-top:1px solid #c7c7c7; border-right:1px solid #c7c7c7; border-bottom:1px solid #c7c7c7;}
.essen_r {border-right:2px solid #ef972b; margin-right: 5px;}
.essen_n {background: url("../images/body_icon.png") no-repeat scroll 0 -452px transparent; width:15px; height:18px; display: inline-block; float: right;}
.essen_gn {background: url("../images/body_icon.png") no-repeat scroll 0 -453px transparent; padding: 0 0 0 12px;}
.space_tit {padding: 0 0 0 14px;}


/* 테이블 - 고정 사이즈 */
.table_nomal600 {position: relative;}
.table_nomal600 table {width: 555px;}
.table_nomal600 table tr {height:32px}

/*라운드 포틀릿*/
.section_portlet {
    background: url("../images/bg_portlet_b.jpg") no-repeat scroll 0 100% transparent;
    margin-bottom:10px; position:relative; width:100%; z-index:30;}
.section_portlet ul {height:100%;}
	
.tab_portlet {
    background: url("../images/bg_portlet.jpg") no-repeat scroll 100% -77px transparent;
    width:100%; height:45px; overflow:hidden; position:relative;}
.tab_portlet .tab_portlet_l {
    background: url("../images/bg_portlet.jpg") no-repeat scroll 0 -77px transparent;
    display:inline-block; width:10px; height:45px; left:0; position:absolute;}


/* 상단 날짜 */	
.tab_portletx {color:#ffffff; text-align:center; vertical-align:middle; padding-top:10px;}
.date {font-size:14px; font-weight:bold;}
.eventd {font-size:12px; color:#f8c8c8;}

.date_section {text-align:center; vertical-align:middle; padding: 7px 0 18px;}
.date_section .date_start {background: url("../images/top_date_bg_l.gif") repeat scroll 0 0 transparent; height:28px; width:14px; height: 28px;display: inline-block;vertical-align:middle}
.date_section .date_center { background-color:#f3f3f3; height:23px; padding: 5px 20px 0 30px; text-align:center; margin: 0 -5px; text-align:center; display: inline-block;;vertical-align:middle}	
.date_section .date_end {background: url("../images/top_date_bg_r.gif") repeat scroll 0 0 transparent; height:28px; width:14px;display: inline-block;;vertical-align:middle}
			

.portlet_l {
    background: url("../images/bg_portlet_l.jpg") repeat-y scroll 0 0 #ffffff;
    position:relative; height:100%; width:100%; z-index:10;}	
.portlet_r {
    background: url("../images/bg_portlet_r.jpg") repeat-y scroll 100% 0 transparent;
    height:100%; width:100%; float:none;
}
	
.portlet_b {
    background: url("../images/bg_portlet_b.jpg") no-repeat scroll 100% 100% transparent;
    height:12px; margin-left:10px; display:inline-block; }
	
.portlet_t {
    background: url("../images/bg_portlet.jpg") repeat-y scroll 100% -319px transparent;
    clea:both; width:100%; height:12px; overflow:hidden; position:relative;}
		
.portlet_t .portlet_tl {
    background: url("../images/bg_portlet.jpg") repeat-y scroll 0 -319px transparent;
    display:inline-block; width:10px; height:16px; left:0; position:absolute;}
		
/*Event*/	
.event {background: url("../images/bg_event.jpg") no-repeat scroll 0 100% transparent;
    	position:relative;z-index:30; margin:0 5px 0 5px;}
.event_t {
    background: url("../images/bg_event.jpg") no-repeat scroll 100% 0 transparent;
    clea:both; width:100%; height:8px; overflow:hidden; position:relative;}
.event_t .event_t_l {
    background: url("../images/bg_event.jpg") no-repeat scroll 0 0 transparent;
    width:10px; height:8px; left:0; position:absolute;}
.event_l {
    background: url("../images/bg_event.jpg") repeat-y scroll 0 -50px #ffffff;
    min-height:100px; margin-left:10px;}
.event_r {
    background: url("../images/bg_event.jpg") repeat-y scroll 100% -50px transparent;
    min-height:100px; width:100%;}
.event_b {
    background: url("../images/bg_event.jpg") no-repeat scroll 100% 100% transparent;
    height:10px; margin-left:10px; position:relative;}
.line_daspace_dateed {border-bottom:1px daspace_dateed #DCDFE0; margin:0 15px 0 0;}
.event_space {position:relative; width:99%; display:inline-block; margin-left:10px; }
.space_left { margin-left:15px;}
.space_right { float:right; margin-right:20px;}
.space_top { margin-top:5px;}

/* Noice */
#notice {clear:both; margin:0 30px 5px 5px; padding-top:10px;}
#notice li {border-bottom: 1px dashed #DCDFE0; vertical-align:middle; padding:5px 0; clear:both;}
.noti_pic {float:left; padding:5px 0;}
.noti_in_bodytitle {word-wrap: break-word; text-align:left; padding:9px 0 0 58px;} /* Body Title로 들어갈 때 */

.noti_in_m {word-wrap: break-word; text-align:left; padding:2px 0 0 58px;} /* M사이즈 등록글 사용시*/

.noti_tit {background: url("../images/ico_notice_s.gif") no-repeat scroll 8px 2px transparent;
		    padding:0 0 0 23px; display:block; font-weight:bold;}

.noti_tit_snew {background: url("../images/ico_notice_s.gif") no-repeat scroll 8px 0 transparent;
		    padding:0 0 0 23px; font-weight:bold;}
			
/* Work ING */
#work_ing {margin:0 15px;}
#work_ing li {border-bottom:1px solid #DCDFE0;}
#work_ing li.end { border:none;}
.working_br {line-height:18px; padding:10px 0 3px 0;}
#work_ing .pic {padding:0 10px 0 0; float:left;}
#work_ing .tit { font-size:14px; font-weight:bold; float:left; }
#work_ing .titl_section {height:21px; padding-top:14px;}

/* Ico */
.ico_division_s {background: url("../images/ico_division_s.gif") no-repeat scroll 0 0 transparent; padding:0 0 0 21px; color:#23579e;}

/* Button */
.btn {background-color:#666666; float:right; height:22px; position:absolute;}
.Btn01Start {background: url("../images/btn_bg_left.jpg") repeat scroll 0 0 transparent;
			 float:left; height:22px; width:5px;}
.Btn01Center {background: url("../images/btn_bg_center.jpg") repeat scroll 0 0 transparent;
    		float:left; color:#fff; height:20px; padding:2px 3px 0; text-align:center;}
.Btn01End {background: url("../images/btn_bg_right.jpg") repeat scroll 0 0 transparent;
    		float:left; height:22px; width:5px;}
			
.btn_wh {clear: both; display:inline-block;}
.btn_wh .Btn01Start {background: url("../images/btn_wh_left.gif") repeat scroll 0 0 transparent;
			float:left; height:20px; width:5px;}
.btn_wh .Btn01Center {background: url("../images/btn_wh_center.gif") repeat scroll 0 0 transparent;
    		float:left; color:#747474; height:18px; padding:2px 3px 0; text-align:center; font-size:11px;}
.btn_wh .Btn01End {background: url("../images/btn_wh_right.gif") repeat scroll 0 0 transparent;
    		float:left; height:20px; width:5px;}
			
.btn_wh_ov {clear: both; display:inline-block;}
.btn_wh_ov .Btn01Start {background: url("../images/btn_wh_left_ov.gif") repeat scroll 0 0 transparent;
			float:left; height:20px; width:5px;}
.btn_wh_ov .Btn01Center {background: url("../images/btn_wh_center_ov.gif") repeat scroll 0 0 transparent;
    		float:left; color:#747474; height:18px; padding:2px 3px 0; text-align:center; font-size:11px;}
.btn_wh_ov .Btn01End {background: url("../images/btn_wh_right_ov.gif") repeat scroll 0 0 transparent;
    		float:left; height:20px; width:5px;}
			
.btn_black {background-color:#666666; float:right; height:22px; margin-right:15px; position:relative;}
.btn_black .Btn01Start {background: url("../images/btn_blk_bg_left.jpg") repeat scroll 0 0 transparent;
			 float:left; height:22px; width:5px;}
.btn_black .Btn01Center {background: url("../images/btn_bg_center.jpg") repeat scroll 0 0 transparent;
    		float:left; color:#fff; height:20px; padding:2px 3px 0; text-align:center;}
.btn_black .Btn01End {background: url("../images/btn_blk_bg_right.jpg") repeat scroll 0 0 transparent;
    		float:left; height:22px; width:5px;}
			
.btn_gray {display:inline-block;}
.btn_gray .Btn01Start {background: url("../images/btn_gr_left.jpg") repeat scroll 0 0 transparent;
			 float:left; height:22px; width:5px;}
.btn_gray .Btn01Center {background: url("../images/btn_gr_center.jpg") repeat scroll 0 0 transparent;
    		float:left; color:#fff; height:20px; padding:2px 3px 0; text-align:center; font-weight:bold;}
.btn_gray .Btn01End {background: url("../images/btn_gr_right.jpg") repeat scroll 0 0 transparent;
    		float:left; height:22px; width:5px;}
			

			
.btn_right {left: 452px; position:relative;}
			

.btn_x, .btn_x a {float:right; color:#9b9b9b; font-size:12px; display: block; width:16px; height:15px; text-align:center; text-decoration:none;}
a .btn_x:hover {color:#FFF; text-decoration:none; }

.btn_x_gr {color:#c7c7c7; font-size:12px;}
a .btn_x_gr:hover {background-color:#f2f2f2; text-decoration:none; }

.btn_x_grb {background: url("../images/btn_x_b.gif") no-repeat scroll left top transparent; border: 0 none; cursor: pointer; height: 11px;
    padding: 0; width: 11px; position: relative;}
    
.btn_im_x {background: url("../images/btn_im_x_gr.gif") no-repeat scroll left top transparent; border: 0 none; cursor: pointer; height: 13px;
    padding: 0; position: relative; right: 3px; top:2px; width: 13px; float: right;}
.btn_im_x_wh {background: url("../images/btn_im_x2.gif") no-repeat scroll left top transparent; border: 0 none; cursor: pointer; height: 13px;
padding: 0; position: relative; right: 3px; top:2px; width: 13px; float: right;}

.nav_srch .btn_im_x{top:-19px;right:8px}
    
	
/* 사람지정  */
.user_select {background: none repeat scroll 0 0 #E5F3FF; border: 1px solid #97bee2; color: #333333;padding: 0 6px 0 5px; margin: 0 2px 0 0;
-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;font-size:11px;}


/* Text style */
.t_red {color:#e54b4b;}
.t_red_bold {color:#e54b4b; font-weight:bold;}
.t_up_num {color:#e54b4b; font-weight:bold;}
.t_bold {font-weight:bold;}
.t_gbold {color:#656565; font-weight:bold;}
.t_name {color:#23579e; position: relative;}
.t_woname {color:#23579e; font-weight:bold;}
.t_date, .t_text_s11 {font-size:11px; color:#999897;}
.t_white {font-size:12px; font-weight:normal;}
.arr {font-size:10px; margin-right:2px;}

/* Line Style */
.solid_line { border-top:2px solid #999999; width:100%;}
.table_line { border-top:2px solid #e5e5e5; width:100%;}
.solid_line_s { border-top:1px solid #c7c7c7; width:100%;}
.solid_line_sb { border-bottom:1px solid #c7c7c7; width:100%;}
.dash_line {border-top:1px dashed #9c9c9c;}
.line_width {padding:0 10px;}


/*Footer*/
#footer {text-align:center; height:28px; color:#454545; margin: 15px 10px 10px 240px;}
#footer .f_info { margin-left:4px; vertical-align: bottom;}
#footer a:link, a:visited {color:#454545; text-decoration: none;}
#footer a:hover, a:focus, a:active {color:#454545; text-decoration: underline;}


.js_notice_icons_area .js_progress_icon{position:relative;top:4px}
