@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0
}
#wrap {background: url("../images/lo_wrap_bg.gif") repeat-x scroll 0 0 transparent; height:100%; min-width:1000px; margin:0; z-index:1; position:relative}

/* Header */
#lo_header {background: url("../images/lo_top_bg.gif") repeat-x scroll 0 0 transparent; height:92px; min-width:100%; z-index:40; position:relative}
.lo_logo {display:block; position:absolute; top:15px; left:30px; width:189px; height:43px; float:left}
.lo_idpass { float:right; padding:33px 10px}
.lo_checkbox {height:13px; color:#FFF; font-size:11px; text-align:right; margin:5px 50px 0 0}

/* Contents */
#lo_contents {text-align: center;}
.lo_img {left:257px; top:191px; width: 513px; height: 430px}

/* Footer */
#footer { text-align:center; margin:30px 0 0 0} 
