
#lo_wrap {background: url("../images/lo_wrap_bg.gif") repeat-x scroll 0 0 transparent; height:100%; min-width:970px; min-height:680px; margin:0; z-index:1; position:relative}

/* Header */
#lo_header {background: url("../images/lo_top_bg.gif") repeat-x scroll 0 0 transparent; height:65px; padding:16px 40px}
.lo_logo {display:block; width:189px; height:43px; float:left}
.lo_idp {float:right; width:345px}
.lo_idp input {padding:3px}
.lo_checkbox {height:13px; color:#eeeeee; font-size:11px; text-align:left; padding-top:3px}
.t_wh {font-size:11px; color:#eeeeee}

/* Contents */
#lo_contents {text-align: center; margin: 80px 0}
.lo_img {left:257px; top:191px; width: 513px; height: 430px}
.btn_login {margin-top:15px; background-color:#80b0de; border-radius:3px; color:#FFF; font-size:11px; cursor:pointer}

/* Footer */
#footer {border-top:1px solid #D3D3D3; height: 29px; margin:0 30px; padding-top: 20px; text-align: center;} 
.bottom_text {color: #989898; font-size: 11px;}