@charset "utf-8";
/* CSS Document */

.pop_corner_all{ border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; border: 1px solid #c7c7c7; background-color:#FFF; -webkit-box-shadow: 0px 2px 10px #505050;}
.smart_pop_section {width:425px; border: 1px solid #c7c7c7; background-color:#FFF;}
.smart_userinfo_section {width:300px; border: 1px solid #c7c7c7; background-color:#FFF;}
.pop_contents {padding: 10px; overflow:hidden;}


.pop_title {font-weight:bold; font-size:14px; position:absolute; color:#454545;}



/* Layer popup list */
.pop_list_area {border: 1px solid #c7c7c7; text-align: left; background-color: #FFF; margin-top: 1px; -webkit-box-shadow: 0px 2px 10px #505050; font-size: 11px;}
.pop_list_area li .dep {padding:4px 0 4px 10px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%;}

.pop_list_area li .dep:hover {display:block; background-color:#fffccd;}

.pop_list_area li .menu_2dep li .dep {padding:2px 0 2px 34px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%;}
.pop_list_area li .menu_2dep li .dep:hover {display:block; background-color:#fffccd;}

.pop_list_area li .menu_2dep li .menu_2dep li .dep {padding:2px 0 2px 44px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%;}
.pop_list_area li .menu_2dep li .menu_2dep li .dep:hover {display:block; background-color:#fffccd;}

.pop_list_area li .menu_2dep li .menu_2dep li .menu_2dep li .dep {padding:2px 0 2px 54px; display:block; overflow: hidden; vertical-align:middle; position:relative; top:50%;}
.pop_list_area li .menu_2dep li .menu_2dep li .menu_2dep li .dep:hover {display:block; background-color:#fffccd;}


/*popup information*/
.pop_i_info {border:1px solid #acacac; background-color:#242324; width:273px; position:absolute; top:33px; left:106px; padding-bottom:8px; z-index:39; color:#ececec;}
.pop_i_info li {position:relative; clear:both; overflow:hidden;}
.pop_i_info li:hover {background-color:#484848}
.pop_i_info li:hover .btn_x {display:block; overflow: hidden; vertical-align:middle;}
.pop_i_info li .btn_x {display:none}
.pop_i_info li .info_ms_section {margin:0 15px; padding: 6px 0; overflow: hidden; border-bottom: 1px solid #9f9f9f;}
.pop_i_info .info_ms_title {margin:10px 15px 5px; border-bottom: 1px solid #9f9f9f;} /* title */

.pop_i_info .info_img,.pop_i_info .info_list {float:left;}
.pop_i_info .info_img img {width:20px}
.pop_i_info .info_list {padding:0 0 0 5px;width:215px}

/* icon */
.ico_pop_info {background: url("../images/header_nico.png") no-repeat -159px -267px transparent; height:20px; width:20px; display: inline-block;}
.ico_pop_event {background: url("../images/header_nico.png") no-repeat -195px -267px transparent; height:20px; width:20px; display: inline-block;}

/* close btn */
a .pop_btn_x {background: url("../images/pop_btn_x.gif") no-repeat scroll left top transparent; border: 0 none; cursor: pointer; height: 15px;
    padding: 0; position: relative; right: 3px; top:2px; width: 15px; float: right;} 
a:hover .pop_btn_x {background-color:#e5e5e5;}

/* pop title */
.pop_title_space {padding:15px 0 5px; overflow:hidden;border-bottom:2px solid #999}
.pop_title_space .title_work {background: url("../images/body_icon.png") no-repeat scroll -547px -146px transparent;font-size:14px; font-weight:bold; padding: 0 8px 0 28px; float:left; line-height: 20px;}
.pop_title_space .title_user {background: url("../images/body_icon.png") no-repeat scroll -547px -187px transparent;font-size:14px; font-weight:bold; padding: 0 8px 0 28px; float:left; line-height: 20px;}
.pop_title_space.w_margin {margin: 0 20px;}


/* Smart Pop */
.pop_notice_section {padding-left: 7px; text-align: left; min-height: 35px;}
.pop_message_h {padding:10px 0;}

.ico_pop_Info {background: url("../images/body_icon.png") no-repeat scroll -547px -257px transparent; display: block; font-size: 14px; font-weight: bold; line-height: 20px; padding: 2px 0 0 33px; text-align: left; margin-bottom: 5px;}
.ico_pop_Warn {background: url("../images/body_icon.png") no-repeat scroll -547px -227px transparent; display: block; font-size: 14px; font-weight: bold; height: 26px; line-height: 20px; padding: 3px 0 0 33px; text-align: left;}
.ico_pop_Error {background: url("../images/body_icon.png") no-repeat scroll -547px -291px transparent; display: block; font-size: 14px; font-weight: bold; height: 26px; line-height: 20px; padding: 4px 0 0 33px; text-align: left;}


/* Smart User Info */
.use_pic { float:left;}
.smartp_name { font-weight:bold; color:#3B5998;}
.smartp_info {}
.smartp_btn_space {background-color: #c7c7c7; height: 10px; padding: 5px 10px 8px;}
.pop_ico_mail {background: url("../images/nav_img.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 16px; width:18px;}
.pop_ico_note {background: url("../images/nav_img.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 16px; width:18px;}
.pop_ico_replay {background: url("../images/nav_img.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 16px; width:18px;}
.pop_ico_chat {background: url("../images/nav_img.png") no-repeat scroll 0 0 transparent; display: inline-block; height: 16px; width:18px;}
