.loading-indicator {
	height: 80px;
	width: 80px;
	background: url( '../images/loading.gif' );
	background-repeat: no-repeat;
	background-position: top center;
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.2;
	filter: alpha(opacity = 60);
}