<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<beans:bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<beans:property name="location"
			value="conf/spring/smart.conf.properties" />
	</beans:bean>

	<!-- <beans:bean id="swfManager" class="net.smartworks.server.engine.infowork.form.manager.impl.SwfManagerImpl"/> -->

	<annotation-driven />

	<context:component-scan base-package="net.smartworks" />

	<beans:bean id="fileDirectory" class="net.smartworks.util.SmartConfUtil"
		factory-method="createInstance">
		<beans:property name="fileDirectory">
			<beans:value>${fileDirectory}</beans:value>
		</beans:property>
	</beans:bean>



	<!-- StringHttpMessageConverter UTF-8 -->
	<beans:bean	class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<beans:property name="messageConverters">
			<beans:list>
				<beans:bean class="org.springframework.http.converter.StringHttpMessageConverter">
					<beans:property name="supportedMediaTypes">
						<beans:value>text/plain;charset=UTF-8</beans:value>
					</beans:property>
				</beans:bean>
			</beans:list>
		</beans:property>
	</beans:bean>




</beans:beans>