<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">


	
	<!-- beans:bean id="testCommonAdvice" class="net.smartworks.server.engine.common.advisor.CommonAdvisor"/>
	
	<aop:config>
		<aop:aspect id="commonAdvice" ref="testCommonAdvice">
			<aop:pointcut id="publicMethod" expression="execution(public * net.smartworks.server.engine.process..*(..))"/>
			<aop:around pointcut-ref="publicMethod" method="trace"/>
		</aop:aspect>
	</aop:config>
	
	<beans:bean id="tskManagerAdvisor" class="net.smartworks.server.engine.process.task.manager.impl.TskManagerAdvisorImpl"/>
	
	<aop:config>
		<aop:aspect id="tskManagerAdvice" ref="tskManagerAdvisor">
			<aop:pointcut id="tskMethod" expression="execution(public * net.smartworks.server.engine.process.task.manager.impl..*(..))"/>
			<aop:around pointcut-ref="tskMethod" method="invoke"/>
		</aop:aspect>
	</aop:config-->

</beans:beans>